/* Estilos para el cuerpo de la página */
body {
    border: solid rgb(10, 10, 10); /* Borde sólido de color */
    min-height: 50px; /* Altura mínima */
    padding: 2%; /* Espaciado interno */
    margin: auto; /* Margen automático */
    background-color: #d1c9c9; /* Color de fondo */
    height: 100%;
}


/* Estilos para las secciones */
section {
    border: solid; /* Borde sólido */
    /*height: 200px; /* Altura */
    padding: 5%; /* Espaciado interno */
    margin: 5px auto; /* Margen */
    min-height: 50px; /* Altura mínima */
    width: 50%; /* Ancho */
    box-sizing: border-box;
}

/* Estilos para la barra de navegación */
nav {
    display: flex;
    flex-direction: column; /* Dirección de los elementos flexibles */
    border: solid; /* Borde sólido */
    min-height: 10px; /* Altura mínima */
    min-width: 20px; /* Ancho mínimo */
    max-width: auto; /* Ancho máximo */
    box-sizing: border-box;
    
}

/* Estilos para el contenido principal */
main {
    border: solid; /* Borde sólido */  
    margin: 2%; /* Margen */  
    width: 50%;
   /* height: 100%;*/
    padding: 2%;
    display: flex; /* Mostrar como flex */
    box-sizing: border-box;
}
aside{
    margin: 2%;
    width: 50%;
    height: 100%;
    display: inline-block;
}


/* Estilos para la barra de navegación */
.barra {
    background-color: rgba(230, 242, 242, 0.8); /* Color de fondo */
    border: transparent;
    border-radius: 5px;
    margin: 10px; /* Margen */
    height: auto;
    box-shadow: 0 0 50px rgba(120, 123, 123, 0.8);
    
}
/* CSS para el carrusel */
.carrusel {
    border: solid 1px #ccc; /* Borde sólido */
    border: transparent;
    height:2%; /* Altura automática */
    width: auto; /* Ancho automático */
    text-align: center; /* Centrar contenido */
    padding: 10px 0; /* Espaciado arriba y abajo */
    padding: 2px;
    overflow: hidden;/* oculta */
    box-shadow: 0 0 10px rgba(51, 60, 87, 0.1);
    position: relative;
    border-radius: 5%;
}

.primerCarrusel {
    width: 100%; /* Ancho del 80% del contenedor principal */
    margin: 1 auto; /* Centramos el contenedor */
    height: 5%;
    padding: 1px 0;
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding-bottom: 1px;

}

.primerCarrusel img {
    width: 90%; /*Ancho del 100% del contenedor*/
    height:16rem; /* Altura automática */
    display: flex; /* Mostrar como bloque */
    overflow: hidden;
    flex-shrink: 0;
    align-items: center;
    box-shadow: 0 0 10px rgba(125, 117, 174, 0.544);
    color: rgba(49, 41, 209, 0.427);
    padding-inline: 5%;
    content: none;
    cursor: pointer;
    border-radius: 5px;
   

    
}
.carrusel-buttons {
    position:  relative;
    top: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carrusel-button {
    background-color: rgba(128, 126, 126, 0.5);
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    
}
/* Estilos para las secciones del contenido principal */
.mainMedio {
    height: 300px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column; /* Organiza los hijos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    box-sizing: border-box;
}

.medio, .bajo {
    width: 80%; /* Ancho del 80% para dar espacio en los lados */
    height: 100%; /* Altura del 40% */
    padding: 1%; /* Espaciado interno */
    box-sizing: border-box;
}


/* Estilos para los elementos dentro de la barra de navegación */
/* Contenedor principal para manejar el flexbox */
.verde {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;
}
/* Estilos para los elementos medio1, medio2 y medio3 */
/* Estilos para los elementos de la barra */
.medio1, .medio2, .medio3, .medio5 {
    display: inline-flex; /* Mostrar como inline-flex */
    background-color: rgba(132, 132, 138, 0.276); /* Color de fondo */
    width: 20%; /* Ancho del 20% */
    border: solid; /* Borde sólido */
    border: hidden;
    border-radius: 4px;
    height: 40px;
    margin: 1px; /* Margen */
    padding: 1px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}
.medio1 h3, .medio2 h3, .medio3 h3{
    color: rgb(235, 235, 241);
    

}
/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .medio1, .medio2, .medio3,.medio4  {
        width: 100%; /* Ancho completo */
        margin: 5px 0; /* Márgenes verticales */
    }
}
/* Estilos para el elemento medio4 */
.medio4 {
    display: flex; /* Mostrar como inline-flex */
    justify-content: center; /* Justificar al centro */
    /*width: 50%; /* Ancho del 35% */
    height: 2%; /* Altura del 2% */
    padding: 5px; /* Espaciado interno */
    max-width: 100%; /* Ancho máximo */
    /*box-shadow: 0 2px 0px rgba(0, 0, 1, 40); /* Sombra */
    margin: 1px; /* Margen */
    border-radius: 5px; /* Radio de borde */
    background-color: rgba(130, 130, 145, 0.145); /* Color de fondo */
}

.medio4contacto {
    display: flex; /* Mostrar como inline-flex */
    justify-content: left; /* Justificar al centro */
    /*width: 50%; /* Ancho del 35% */
    height: 2%; /* Altura del 2% */
    padding: 5px; /* Espaciado interno */
    max-width: 100%; /* Ancho máximo */
    /*box-shadow: 0 2px 0px rgba(0, 0, 1, 40); /* Sombra */
    margin: 1px; /* Margen */
    border-radius: 5px; /* Radio de borde */
    background-color: rgba(130, 130, 145, 0.145); /* Color de fondo */
}

.medio4contacto h2 {
    text-shadow: 0 6px 6px rgba(0, 0, 0, 1.5); /* Sombra de texto */
    font-size: 2rem; /* Tamaño de fuente */
    color: rgba(255, 255, 246, 0.828); /* Color de texto */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.medio4contacto i {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
    font-size: 1.5em; /* Tamaño del ícono */
    color: rgba(49, 41, 209, 0.427); /* Color del ícono */
}


/* Estilos para el texto dentro del elemento medio4 */
.medio4 h2 {
    text-shadow: 0 6px 6px rgba(0, 0, 0, 1.5); /* Sombra de texto */
    font-size: 2rem; /* Tamaño de fuente */
    color: rgba(255, 255, 246, 0.828); /* Color de texto */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.medio4 i {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
    font-size: 1.5em; /* Tamaño del ícono */
    color: rgba(49, 41, 209, 0.427); /* Color del ícono */
}

/* Estilos para el contenido en la parte inferior */


.container {
    display: flex; /* Mostrar como flex */
    justify-content: center; /* Justificar al centro */
    width: auto; /* Ancho automático */
    min-height: 500px; /* Altura mínima aumentada */
    color: rgb(2, 2, 2); /* Color de texto */
    background-color: rgba(36, 97, 176, 0.568); /* Color de fondo */
    border-radius: 5px;
    box-sizing: border-box;
}


/* Estilos para el segundo dominio */
/* Estilos para el contenedor principal */
.container {
    display: flex; /* Mostrar como flex */
    justify-content: center; /* Justificar al centro */
    align-items: center; /* Alinear verticalmente */
    width: auto; /* Ancho automático */
    min-height: 500px; /* Altura mínima aumentada */
    height: 100%;
    padding: 2%;
    color: rgb(2, 2, 2); /* Color de texto */
    background-color: rgba(36, 97, 176, 0.568); /* Color de fondo */
    border-radius: 5px;
}

/* Estilos para el segundo dominio */
.segundomain {
    display: flex; /* Mostrar como flex */
    justify-content: center; /* Justificar al centro */
    align-items: center; /* Alinear verticalmente */
    border: transparent; /* Borde sólido */
    color: rgb(5, 5, 5); /* Color de texto */
    height: 100%; /* Altura completa */
    width: 100%; /* Ancho completo */
}

/* Eliminar padding y asegurar que la imagen ocupe todo el espacio */
.segundomain img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
}

/* Estilos para el contenedor de la imagen */
.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 400px;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
}

/* Estilos para el texto dentro de la imagen */
.image-container .caption {
    position: absolute;
    bottom: 40%; /* Ajusta según sea necesario */
    left: 20px; /* Ajusta según sea necesario */
    color: rgba(249, 249, 249, 0.935); /* Color del texto */
    text-shadow: 0 6px 6px rgba(0, 0, 0, 1.5); /* Sombra de texto */
    padding: 10px;
    border-radius: 5px;
    font-size: 40px; /* Tamaño de fuente */
}
/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .container {
        min-height: 400px; /* Ajuste de altura mínima para pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .container {
        min-height: 300px; /* Ajuste de altura mínima para pantallas muy pequeñas */
    }
}

@media (max-width: 768px) {
    .image-container .caption {
        width: 100%; /* Ancho completo */
        padding: 10px;
    }

    .segundomain .text {
        font-size: 1.2rem; /* Ajustar el tamaño de la fuente */
        padding: 5px;
    }
}


/* Estilos para el formulario */
.form {
    text-align: center; /* Alinear al centro */
    align-items: center; /* Alinear elementos */
    width: 100%; /* Ancho del 80% */
    /*margin-left: auto; /* Margen izquierdo */
    height: auto; /* Altura automática */
    background-color: rgba(230, 242, 242, 0.8); /* Color de fondo */
}

.oferta{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    bottom: 40%; /* Ajusta según sea necesario */
    left: 20px;
    box-sizing: border-box
}